.vs/

# Objetos e Binários
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Pacotes NuGet
*.nupkg
# Exclui a pasta de pacotes NuGet
**/packages/

# Arquivos do Rider (IDE da JetBrains)
.idea/

# Arquivos de usuário
*.user
*.suo
*.sln.docstates
*.sln
*.csproj
